

input{
    border: none;
    font-size: 20px;
    text-align: center;
}
.icon-green-div{
    font-size: 20px;
}
.icon-white-div{
    font-size: 20px;
}
.banner-Image{
    background-size: cover;
    box-sizing: content-box;
    height: 700px;
}

.content{
    padding-top: 100px;
    height: auto;
}
.content h2{
    color: green;
}
.need{
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
    font-family: lobster;
}
.urgent{
    font-size: 40px;
    font-weight: 500;
    color: white; 
    text-align: center;
    font-family: ultra ;
}
.loan-chart{
    height: auto;
    font-family: play;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(0, 128, 0, 0.5);
}
.ll{
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.LABELSLIDER{
    display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      font-size: 23px;
        
}
.pull-right{
    color: white; 
     
 }
 .LABELBOXES{
    font-size: 15px;
    font-family: play;
    font-weight: 600; 
    text-align: center;
}
.small-note{
    font-size: 15px;
}

.apply{
    margin-left: auto;
   height: auto;
   font-size: 15px;
   font-family: play;
   font-weight: 600;
   
}

.custom-button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.3s, background-color 0.3s;
    
  }
  
  .custom-button:hover::before {
    left: 0;
    background-color: green;
  }
  .custom-button span {
    position: relative;
    z-index: 2;
    transition: color 0.3s;
  }
  
  .custom-button:hover span {
    color: black;
  }


















